/* Header */
.logo {
	font-family: Helvetica;
	color: black;
	font-size: 10px;
	text-align: center;
	border-bottom: 1px solid #c185a0;
}
			/* NavBar */
.navbar ul {
		display: flex;
		justify-content: center;
		padding: 0;
		margin: 0;
		list-style-type: none;
		background-color: #fff;
}
.navbar li a {
		display: block;
		color: #0e1b17;
		text-decoration: none;
		text-transform: uppercase;
		margin: 20px 25px;
		padding: 10px;
		font-size: 13px;
		letter-spacing: 2px;
		transition: all 0.4s;
}
.navbar ul li a:hover {
		color: #0e1b17;
		background-color: #c185a0;
}
.navbar ul li a.active{
		color: #0e1b17;
		background-color: #c185a0;
}
/* Main */
section {
    text-align: center;
}
h1 {

}
p {

}
li {

}
.btn {
    align-items: center;
    display: block;
	color: #0e1b17;
	text-decoration: none;
	text-transform: uppercase;
	margin: 20px;
	padding: 10px;
    width: 225px;
    height: 10px;
	font-size: 13px;
	letter-spacing: 2px;
	transition: all 0.4s;
}
.btn:hover {
    color: #0e1b17;
	background-color: #c185a0;
}